body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #372cae;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  font-family: 'Sniglet', cursive;
}

.logo {
  width: 80px;
  height: 80px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  position: relative;
}

.navbar-links a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #1fd6eb;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.navbar-links a:hover::after {
  transform: scaleX(1);
}

.navbar-buttons .btn {
  background-color: #547bca;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: -20px;
  margin-right: 35px;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Sniglet', cursive;
  transition: all 1s ease;
}

.navbar-buttons .btn:hover {
  border: 1px solid white;
  background-color: #4857be;
}

.title, .title-2{
  background-color: #40128B;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 100px auto 10px;
  width: 600px;
  border-radius: 50px;
  font-size: 35px;
  font-family: 'chewy', cursive;
}

.title-2{
  margin: 20px auto 10px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}


.left{
  width: 500px;
  height: 400px;
  margin-right: 10px;
}

.right{
  width: 600px;
  height: auto;
  margin-right: 10px;
  border-radius: 20px;

}

.left-2{
  width: 500px;
  height: 400px;
  margin-right: 10px;
}

.right-2{
  width: 600px;
  height: auto;
  margin-right: 10px;
  border-radius: 20px;

}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.text {
  height: 100%;
  padding: 10px;
  text-align: justify;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .left,
  .right {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.container-2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  margin: 20px;
  padding: 8px;
  width: 250px;
  background-color: #ffffff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(14, 11, 105, 0.534);
  border-radius: 10px;
  transition: all 0.6s ease-in;
  overflow: hidden;
}

.card:hover{
  box-shadow: 0 5px 20px rgba(54, 26, 154, 0.7);
}

.card img:hover{
  transform: scale(1.2);
}

.card img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: all 0.6s ease-in;
}

.card-info {
  padding: 15px 0 7px;
  text-align: center;
}

.card-info h6 {
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
}

.card-info span {
  margin-bottom: 5px;
  color: #888888;
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.card-info a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 8px 2px 0;
  color: #333333;
  background-color: #f7f7f7;
  border-radius: 50%;
  font-size: 15px;
  text-decoration: none;
  line-height: 30px;
  transition: all 0.5s;
}

.card-info a:hover:nth-child(1) {
  color: #ffffff;
  background-color: #1877f2;
}

.card-info a:hover:nth-child(2) {
  color: #ffffff;
  background-color: #e1306c;
}

.card-info a:hover:nth-child(3) {
  color: #ffffff;
  background-color: #1da1f2;
}

.card-info a:hover:nth-child(4) {
  color: #ffffff;
  background-color: #e60023;
}


.footer {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: white;
  background-color: #21146e;
  border-top: 1px solid #e5e5e5;
  font-family: 'montserrat', sans-serif;
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 1.5rem;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: white;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: white;
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
  transition: all 0.5 ease;
}

.footer__btn:hover{
  background-color: #372cae;
  color: white;
  border: 1px solid white;
  transition: all 0.5 ease;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: white;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}
